*{margin: 0; padding: 0;}

.container{
    width: 1024px;
    margin: 0 auto;
}

.logo{
    width: 50px;
    height: 50px;
}

.banner1{
    width: 1024px;
    height: 156px;
    background-image: url(images/banner1.jfif);
    background-color: white;
}

.menu{
    width: 1024px;
    height: 40px;
    text-align: left;
    background-color: #00D4E0;
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    margin-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    
}

a{
    text-decoration: none;
    color: yellow;
    font-size: larger;
}

ul{
    padding-top: 10px;
}

.menu ul li:hover{
    background-color: #0CAEF7;
}

#timKiem{
    width: 200px;
    height: 30px;
    padding-top: 6px;

}
#submit{
    width: 25px;
    height: 30px;
    font-size: 15px;
    padding: 15px 75px 25px 10px;
    background-color: #f9d213;
    color: #000;
    border: none;
}


.banner{
    width:1024px;
}

.content{
    font-size: 25PX;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 15px 15px 0;
    background: #DEDEDE;
    color: red;
}

.noidung{
    font-size: 20px;
    margin: 15px 15px 15px 15px;
}

.tieude{
    text-align: center;
    color: brown;
    font-size: 35px;
    padding-top: 20px;
}

.content_noidung{
    background-color: aliceblue;
}

.footer{
    background-color: floralwhite;
    border-top: 4px solid var(--primary-color);
    padding-top: 15px;
    clear: both;
    margin-left: 15px;

}

.footer__heading{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list-tt{
    display: flex;
    flex-wrap: wrap;
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 12px;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
    
}
.footer-item__link:hover{
    color: var(--primary-color);

}

.footer-item__link-icon-1{
    font-size: 40px;
    margin-right: 8px;
}
.footer-item__link-icon-2{
    font-size: 1.7rem;
    margin-top: -5px;
    margin-right: 7px;
    color: #545454;
}
.footer__download{
    display: flex;

}
.footer__download-qr{
    width: 85px;
    height: 85px;
}
.footer__download-apps{
    margin: 3px 0px 0px 15px;

}
.footer__download-apps-img{
    width: 85px;
    height: 22px;
}
.footer__bottom{
    background-color: #f5f5f5;
    min-height: 100px;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid{
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}